<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Tim kiem san pham:
    <form action="/buoi9/tim-kiem" method="get">
        ten: <input type="text" name="ten"> <br>
        <button>Tim kiem</button>
    </form>
    <br>
    Them san pham:
    <form action="/buoi9/them" method="post">
        ten: <input type="text" name="ten"> <br>
        gia: <input type="text" name="gia"> <br>
        con bao hanh:
            con: <input type="radio" name="conBaoHanh" value="true">
            khong con: <input type="radio" name="conBaoHanh" value="false">
        <br>
        danh muc:
        <select name="danhMuc">
            <th:block th:each="dm : ${listDanhMuc}">
                <option th:value="${dm.id}" th:text="${dm.ten}"></option>
            </th:block>
        </select>
        <br>
        <button>Save</button>
    </form>

    Thong tin san pham:
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Ten</th>
                <th>Gia</th>
                <th>Con bao hanh</th>
                <th>Danh muc</th>
                <th>Hanh dong</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="sp : ${listSanPham}">
                <tr>
                    <td th:text="${sp.id}"></td>
                    <td th:text="${sp.ten}"></td>
                    <td th:text="${sp.gia}"></td>
                    <td th:text="${sp.conBaoHanh}"></td>
                    <td th:text="${sp.danhMuc.ten}"></td>
                    <td>
                        <a th:href="@{|/buoi9/view-update/${sp.id}|}">View update</a>
                        <a th:href="@{|/buoi9/xoa?id=${sp.id}|}">Xoa</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>