<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Bang thong tin:
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Ten</th>
                <th>Diem</th>
                <th>Gioi tinh</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="sv : ${listSinhVien}">
                <tr>
                    <td th:text="${sv.id}"></td>
                    <td th:text="${sv.ten}"></td>
                    <td th:text="${sv.diem}"></td>
                    <td th:text="${sv.gioiTinh == true ? 'Nam' : 'Nu'}"></td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>